@model List<VipSoft.CMS.Core.Entity.Category>
@{
    var menulist = Model.FindAll(p => p.ParentId == 0);
    var menuIndex = 1;
    if (Request.RequestContext.RouteData.Values["cid"] != null)
    {
        try
        {
            menuIndex = Convert.ToInt32(Request.RequestContext.RouteData.Values["cid"]);
        }
        catch
        {
            Response.Redirect("/");
        }
    } 
}
<div class="menu clear">
    <ul>
        @foreach (var item in menulist)
        {  
            <li @if (menuIndex == @item.ID)
                {@Html.Raw("class=\"sle\"")}>
                <a href="@item.Url">@item.Name</a>
            </li>  
        }
    </ul>
</div>
