<div title="平台管理" iconcss="menu-icon-model" class="l-scroll">
    <ul id="global_channel_tree" style="margin-top: 3px;">
        
        <li isexpand="false"><span>新闻管理</span>
            <ul class="nlist"> 
                 <li url="/Category/List"><span>分类管理</span></li> 
                 <li url="/Article/List"><span>新闻管理</span></li> 
            </ul>
        </li> 
    </ul>
</div>
<div title="权限管理" iconcss="menu-icon-plugins">
    <ul class="nlist">
        <li><a class="l-link" href="javascript:f_addTab('listpage31','权限列表','1.htm')">权限列表</a></li>
        <li><a class="l-link" href="javascript:f_addTab('listpage32','新闻采集','1.htm')">权限分配</a></li>
    </ul>
</div>
<div title="控制面板" iconcss="menu-icon-setting">
    <ul class="nlist">
        <li><a class="l-link" href="javascript:f_addTab('sys_config','系统设置','/category/')">系统设置</a></li>
    </ul>
</div>

