<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>依软后台管理系统-@ViewBag.Title</title>
    @Html.Partial("AdminBase")
    <script src="@Url.Content("~/Scripts/Admin/VipSoft.Default.js")" type="text/javascript"></script>
</head>
<body>
    <div class="pageloading_bg" id="pageloading_bg">
    </div>
    <div id="pageloading">
        数据加载中，请稍等...
    </div>
    <div id="global_layout" class="layout" style="width: 100%">
        <!--头部-->
        <div position="top" class="header">
            <div class="header_box">
                <div class="header_right">
                    <span><b>admin（超级管理员）</b>您好，欢迎光临</span>
                    <br />
                    <a href="javascript:f_addTab('home','管理中心','center.html')">管理中心</a> | <a
                        href="#">平台首页</a> | <a id="lbtnExit" href="login.html">安全退出</a>
                </div>
                <a class="logo">Logo</a>
            </div>
        </div>
        <!--左边-->
        <div position="left" title="管理菜单" id="global_left_nav">
            @Html.Partial("_AdminMenu")
        </div>
        <div position="center" id="framecenter" toolsid="tab-tools-nav">
            <div tabid="home" title="管理中心" iconcss="tab-icon-home" style="height: 300px">
                @RenderBody()
            </div>
        </div>
        <div position="bottom" class="footer">
            <div class="copyright">
                Copyright © 2009 - 2012 68xinfei.com Inc. All Rights Reserved.
            </div>
        </div>
    </div>
</body>
</html>
