@model VipSoft.CMS.Controllers.CmsIndex
@{
    Layout = "../Shared/_HomeLayout.cshtml";
}
<div class="i_box1">
    <div class="i_box1_1">
        @{Html.RenderAction("TopList", "Article", new { cid = 9 });}
    </div>
    <div class="i_box1_2">
        @{Html.RenderAction("TopList", "Article", new { cid = 10 });}
    </div>

<div class="i_box2">
    <ul  class="i_box1_list">
        <li>@Html.Raw(Model.Article.Content)</li>

    </ul>
</div></div>
<div class="clear">
    <ul>
        <li><a href="" title="庆祝网站开通" target="_blank">
            <img src="Uploads/adv.jpg" /></a></li>

    </ul>
</div>
<div class="blank"></div>
<div class="i_box3 f_l">
    <div class="Menubox">
        <ul>
            <li id="three1" onclick="setTabm('three',1,2)" class="redmenu">UI设计师</li>
            <li id="three2" onclick="setTabm('three',2,2)">软件工程师</li>
        </ul>
        <div class="i_box3more"><a href="#">More >></a></div>
    </div>
    <div class="Contentbox">
        <div id="con_three_1" class="i_prolist1">
            <ul>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>

                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
            </ul>
        </div>
        <div id="con_three_2" style="display: none" class="i_prolist1">
            <ul>
                <li class="noInfo">没有相关信息！</li>
            </ul>
        </div>
    </div>
</div>
<div class="i_box3 f_r">
    <div class="Menubox">
        <ul>
            <li class="redmenu">成功案例</li>
        </ul>
        <div class="i_box3more"><a href="product.asp~PicClassID=15.html">More >></a></div>
    </div>
    <div class="Contentbox">
        <div class="i_prolist1">
            <ul>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
                <li><a href="#">
                    <img src="Uploads/jkd.jpg" alt="VipSoft" /></a><br />
                    <a href="#">VipSoft</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="blank2"></div>
