<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="sessionContextType" value="WebSessionContext"/>
    <add key="ModelAssembly" value="Demo,VipSoft.CMS.Core"/>

    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FilePath" value="Uploads"/>


  </appSettings>
</configuration>
