<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>      
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="DbSessionSettings" type="VipSoft.Data.Config.SessionSection,VipSoft.Data"></section>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="sessionContextType" value="WebSessionContext"/>   
    <add key="ModelAssembly" value="Demo,VipSoft.CMS.Core"/>
                                                                                      
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FilePath" value="Uploads"/>
     
  
  </appSettings>
  <DbSessionSettings>
    <sessionFactories>
      <clearFactories />
      <sessionFactory name="MySql" connectionString="Server=127.0.0.1;DataBase=vipsoft_cms;User ID=root;Password=110;Persist Security Info=False;Allow Zero Datetime=true;charset=utf8;Compress=false;Pooling=false;" driver="VipSoft.Data.Driver.MySqlDataDriver" batchSize="100000"  />
      <!--- <sessionFactory name="AccessTest" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\vipsoft.mdb;Persist Security Info=True"   driver="VipSoft.Data.Driver.OleDbDriver" batchSize="100000"  />         -->
    </sessionFactories>
  </DbSessionSettings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web" />
      <add verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web" />
    </httpHandlers>
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />
    </httpModules>
  </system.web>

  <spring>
    <context>
      <resource uri="~/Config/Service.config" />
    </context>  
  </spring>


  <log4net>
    <root>
      <!--如果只需要看看Sql设置INFO就够了，如果你要调试可以设置为DEBUG或ALL-->
      <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
      <priority value="ALL" />
      <appender-ref ref="LogFileAppenderByDate" />
    </root>
    <!--按日期分割日志文件 一天一个-->
    <appender name="LogFileAppenderByDate" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <!--保存路径-->
      <param name="File" value="d:\temp\\" />
      <param name="DatePattern" value="yyyy-MM-dd.log" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="记录时间:%d %n线程ID:%thread %n级别:%level %n类名:%c%n文件:%F 第%L行%n日志内容:%m%n-----------------------------------------%n%n" />
      </layout>
    </appender>
  </log4net>
</configuration>
