@using Webdiyer.WebControls.Mvc
@model PagedList<VipSoft.CMS.Core.Entity.Article>
@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="nybox">
    <div class="left">
          @{Html.RenderAction("NavigationMenu", "Category");}
    </div>
    <div class="right">
        <div class="title">@{Html.RenderAction("SiteMapPath", "Category");}</div>
        <div class="channelbox">
            <div class="articleBox">
                <ul class="articleList" id="divArticleList">
                    @foreach (var item in Model)
                    { 
                        <li><span class="time">@String.Format("{0:yyyy-MM-dd}", item.CreateDate)</span><a href="/Article/Content/@Request.RequestContext.RouteData.Values["cid"]/@item.ID" target="_blank" >@item.Title</a></li>                                         
                    }
                </ul>
                <div class="pages clear">
                    @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "Page", ShowDisabledPagerItems = false, AlwaysShowFirstLastPageNumber = true }, new AjaxOptions { UpdateTargetId = "divArticleList" })
                </div>

            </div>
        </div>
        <div class="nyboxfoot"></div>
    </div>
    <div class="clear"></div>
</div>
