@using Webdiyer.WebControls.Mvc
@model PagedList<VipSoft.CMS.Core.Entity.Article>
@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="nybox">
    <div class="left">
        <div class="lefttit">依软动态</div>
        <div class="leftlist">
            <ul>
                <li class='category'><a href="#" title="协会公告">站内新闻</a></li>
                <li class='category'><a href="#" title="依软动态">业内新闻</a></li>
            </ul>
        </div>
        <div class="leftfoot"></div>
    </div>
    <div class="right">
        <div class="title"><span>您的位置：<a href='index.asp.html'>首页</a> &gt; <a href='Article.asp~ArtClassID=1.html'>依软动态</a></span>依软动态</div>
        <div class="channelbox">
            <div class="articleBox">
                <ul class="articleList" id="divArticleList">
                    @foreach (var item in Model)
                    { 
                        <li><span class="time">@String.Format("{0:yyyy-MM-dd}", item.CreateDate)</span><a href="/Article/Content/@Request.RequestContext.RouteData.Values["cid"]/@item.ID" target="_blank" >@item.Title</a></li>                                         
                    }
                </ul>
                <div class="pages clear">
                    @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "Page", ShowDisabledPagerItems = false, AlwaysShowFirstLastPageNumber = true }, new AjaxOptions { UpdateTargetId = "divArticleList" })
                </div>

            </div>
        </div>
        <div class="nyboxfoot"></div>
    </div>
    <div class="clear"></div>
</div>
