@model IEnumerable<VipSoft.CMS.Core.Entity.Article>
@{
    Layout = "../Shared/_Layout.cshtml";
}


<div id='content' style='width: 1002px; height: 263px; background: url(/Content/themes/VipSoft/Images/cbg.jpg) repeat-y; margin: 0px auto'>


    <!-- 图片/FLASH -->

    <div id='pdv_16693' class='pdv_class' title='' style='width: 1002px; height: 180px; top: 0px; left: 0px; z-index: 1'>
        <div id='spdv_16693' class='pdv_content' style='overflow: hidden; width: 100%; height: 100%'>
            <div class="pdv_border" style="margin: 0; padding: 0; height: 100%; border: 0px  solid; background: ;">
                <div style="height: 25px; margin: 1px; display: none; background: ;">
                    <div style="float: left; margin-left: 12px; line-height: 25px; font-weight: bold; color: ">
                    </div>
                    <div style="float: right; margin-right: 10px; display: none">
                        <a href="-3.html" style="line-height: 25px; color: ">更多</a>
                    </div>
                </div>
                <div style="padding: 0px">


                    <img src="/Content/themes/VipSoft/Images/1295586933.jpg" border="0" width="100%" />

                </div>
            </div>

        </div>
    </div>

    <!-- 文章一级分类 -->

    <div id='pdv_16700' class='pdv_class' title='栏目导航' style='width: 235px; height: 165px; top: 24px; left: 0px; z-index: 10'>
        <div id='spdv_16700' class='pdv_content' style='overflow: visible; width: 100%;'>
            <div class="pdv_border" style="border: 0px; height: 100%; padding: 0; margin: 0; background: url(/Content/themes/VipSoft/Images/title-2.jpg) 0px 0px no-repeat">
                <div style="height: 45px; border: 0px; padding: 0; margin: 0;">
                    <div style="float: left; font: 12px/30px Simsun; color: #fff; padding-left: 91px;">栏目导航</div>
                </div>
                <div style="margin: 0px; padding: 0px;">

                    <link href="/Content/themes/VipSoft/newsclass_dolphin.css" rel="stylesheet" type="text/css" />
                    <div class="newsclass_dolphin">
                        <a href="/" target="_self" class="newsclass_dolphin">网站首页</a>
                        <a href="/Article/Content/?cid=1" target="_self" class="newsclass_dolphin">公司简介</a>
                        <a href="/Article/News/2" target="_self" class="newsclass_dolphin">最新动态</a>
                        <a href="/Article/News/3" target="_self" class="newsclass_dolphin">产品系列</a>
                        <a href="/Article/Content/?cid=5" target="_self" class="newsclass_dolphin">连锁加盟</a>
                        <a href="/Article/Content/?cid=6" target="_self" class="newsclass_dolphin">招聘信息</a>
                        <a href="#" target="_self" class="newsclass_dolphin">在线预订</a>
                        <a href="/Article/Content/?cid=7" target="_self" class="newsclass_dolphin">联系我们</a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- 当前位置提示条 -->

    <div id='pdv_16701' class='pdv_class' title='当前位置' style='width: 705px; height: 30px; top: 16px; left: 268px; z-index: 11'>
        <div id='spdv_16701' class='pdv_content' style='overflow: hidden; width: 100%; height: 100%'>
            <div class="pdv_border" style="border: 0px; height: 100%; padding: 0; margin: 0; background: url(/Content/themes/VipSoft/Images/title-3.jpg) no-repeat">

                <link href="/Content/themes/VipSoft/nav-2.css" rel="stylesheet" type="text/css" />
                <div id="nav">
                    您现在的位置：<a href="index-8.html">巧婆家食品</a>

                    &gt; <a href="index-9.html">新闻中心</a>

                </div>

            </div>

        </div>
    </div>

    <!-- 文章翻页检索 -->

    <div id='pdv_16741' class='pdv_class' title='产品检索' style='width: 712px; height: 478px; top: 60px; left: 272px; z-index: 10'>
        <div id='spdv_16741' class='pdv_content' style='overflow: visible; width: 100%;'>
            <div class="pdv_border" style="margin: 0; padding: 0; height: 100%; border: 0px  solid; background: ;">
                <div style="height: 25px; margin: 1px; display: none; background: ;">
                    <div style="float: left; margin-left: 12px; line-height: 25px; font-weight: bold; color: ">
                        产品检索
                    </div>
                    <div style="float: right; margin-right: 10px; display: none">
                        <a href="-4.html" style="line-height: 25px; color: ">更多</a>
                    </div>
                </div>
                <div style="padding: 0px">

                    <link href="/Content/themes/VipSoft/productquery.css" rel="stylesheet" type="text/css" />
@foreach (var item in Model)
{
    <div id="productquery">
        <div class="fang" style="width: 160px; height: 160px">
            <div class="picFit" style="width: 160px; height: 160px">
                <a href="/Article/Content/@item.ID" target="_self">
                    <img src="/Upload/@item.Picture" style="width: 160px; height: 160px" border="0" /></a>
            </div>
        </div>
        <a href="/Article/Content/@item.ID" target="_self" class="prodtitle">@item.Title</a>
    </div>
}
                   
                    <script>
                        $(function () {
                            $().picFit("auto");
                        });
                    </script>

                    <div id="showpages">
                        <div id="pagesinfo">共13条 每页10条 页次：1/2</div>
                        <div id="pages">
                            <ul>
                                <li class="pbutton"><a href="">首页</a></li>
                                <li class="pbutton">上一页</li>
                                <li class="pagesnow">1</li>
                                <li><a href="">下一页</a></li>
                                <li class="opt">
                                    <select onchange="window.location=this.options[this.selectedIndex].value">
                                        <option value="/news/class/index.php?page=1&amp;catid=0&amp;myord=uptime&amp;myshownums=&amp;showtj=&amp;showdate=&amp;author=&amp;key=" selected>第1页</option>
                                        <option value="indexb50d.html?page=2&amp;catid=0&amp;myord=uptime&amp;myshownums=&amp;showtj=&amp;showdate=&amp;author=&amp;key=">第2页</option>
                                    </select></li>
                                <li class="pbutton"><a href="#">尾页</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

</div>
