<?xml version="1.0" encoding="utf-8"?>

<objects xmlns="http://www.springframework.net"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd"
    default-autowire="byName" default-lazy-init="true">

  <object id="UserDao" type="VipSoft.Membership.Dao.UserDao,VipSoft.Membership.Dao" singleton="false"></object>
  <object id="MenuDao" type="VipSoft.Membership.Dao.MenuDao,VipSoft.Membership.Dao" singleton="false"></object>
  <object id="RoleDao" type="VipSoft.Membership.Dao.RoleDao,VipSoft.Membership.Dao" singleton="false"></object>
  
  <object id="CategoryDao" type="VipSoft.CMS.Dao.CategoryDao,VipSoft.CMS.Dao" singleton="false"></object>
  <object id="ArticleDao" type="VipSoft.CMS.Dao.ArticleDao,VipSoft.CMS.Dao" singleton="false"></object>  
  <object id="FeedBackDao" type="VipSoft.CMS.Dao.FeedBackDao,VipSoft.CMS.Dao" singleton="false"></object>
</objects>
